<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<servlet>
		<servlet-name>AServlet</servlet-name>
		<servlet-class>com.franke.request.info.AServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BServlet</servlet-name>
		<servlet-class>com.franke.request.param.BServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CServlet</servlet-name>
		<servlet-class>com.franke.request.param.CServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DServlet</servlet-name>
		<servlet-class>com.franke.request.param.DServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EServlet</servlet-name>
		<servlet-class>com.franke.request.forward.EServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FServlet</servlet-name>
		<servlet-class>com.franke.request.includ.FServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GServlet</servlet-name>
		<servlet-class>com.franke.request.includ.GServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HServlet</servlet-name>
		<servlet-class>com.franke.request.scope.HServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>A1Servlet</servlet-name>
		<servlet-class>com.franke.response.demo1.AServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>B1Servlet</servlet-name>
		<servlet-class>com.franke.response.demo2.BServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>C1Servlet</servlet-name>
		<servlet-class>com.franke.response.demo3.CServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>D1Servlet</servlet-name>
		<servlet-class>com.franke.response.demo4.DServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>E1Servlet</servlet-name>
		<servlet-class>com.franke.response.demo5.EServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>F1Servlet</servlet-name>
		<servlet-class>com.franke.response.demo6.FServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>G1Servlet</servlet-name>
		<servlet-class>com.franke.response.demo7.GServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>A2Servlet</servlet-name>
		<servlet-class>com.franke.cookie.hello.AServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>B2Servlet</servlet-name>
		<servlet-class>com.franke.cookie.hello.BServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>C2Servlet</servlet-name>
		<servlet-class>com.franke.cookie.history.CServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>D2Servlet</servlet-name>
		<servlet-class>com.franke.cookie.time.DServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>E2Servlet</servlet-name>
		<servlet-class>com.franke.cookie.path.EServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>F2Servlet</servlet-name>
		<servlet-class>com.franke.cookie.remeber.FServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>A3Servlet</servlet-name>
		<servlet-class>com.franke.session.hello.AServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>B3Servlet</servlet-name>
		<servlet-class>com.franke.session.car.BServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>C3Servlet</servlet-name>
		<servlet-class>com.franke.session.info.CServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>E3Servlet</servlet-name>
		<servlet-class>com.franke.session.checkcode.EServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>D3Servlet</servlet-name>
		<servlet-class>com.franke.session.checkcode.DServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AServlet</servlet-name>
		<url-pattern>/AServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BServlet</servlet-name>
		<url-pattern>/BServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CServlet</servlet-name>
		<url-pattern>/CServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DServlet</servlet-name>
		<url-pattern>/DServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EServlet</servlet-name>
		<url-pattern>/EServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FServlet</servlet-name>
		<url-pattern>/FServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GServlet</servlet-name>
		<url-pattern>/GServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HServlet</servlet-name>
		<url-pattern>/HServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>A1Servlet</servlet-name>
		<url-pattern>/A1Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>B1Servlet</servlet-name>
		<url-pattern>/B1Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>C1Servlet</servlet-name>
		<url-pattern>/C1Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>D1Servlet</servlet-name>
		<url-pattern>/D1Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>E1Servlet</servlet-name>
		<url-pattern>/E1Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>F1Servlet</servlet-name>
		<url-pattern>/F1Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>G1Servlet</servlet-name>
		<url-pattern>/G1Servlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>A2Servlet</servlet-name>
		<url-pattern>/A2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>B2Servlet</servlet-name>
		<url-pattern>/B2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>C2Servlet</servlet-name>
		<url-pattern>/C2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>D2Servlet</servlet-name>
		<url-pattern>/D2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>E2Servlet</servlet-name>
		<url-pattern>/E2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>F2Servlet</servlet-name>
		<url-pattern>/F2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>A3Servlet</servlet-name>
		<url-pattern>/A3Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>B3Servlet</servlet-name>
		<url-pattern>/B3Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>C3Servlet</servlet-name>
		<url-pattern>/C3Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>E3Servlet</servlet-name>
		<url-pattern>/E3Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>D3Servlet</servlet-name>
		<url-pattern>/D3Servlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
